body {
  background: linear-gradient(to bottom, #000000 0%, #ffffff 100%);
}

header h1 {
  background-image: url("http://eskipaper.com/images/artistic-backgrounds-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 1.75em;
  width: 100%;
  padding: 6em 0em 0em 1em;
  text-transform: uppercase;
  font-family: 'Raleway', cursive;
  letter-spacing: 0.1em;
  font-size: 3.6em;
  color: #0080ff;
}

nav a{
  font-weight: 500;
  padding: 0.188em 3.75em;
  border-bottom: none;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 14em;
  font-size: 1;
  margin-bottom: 0.8em;
  font-family: 'Raleway', sans-serif;
  color: white;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  z-index: 100;
  display: flex;
  flex-direction: row;
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin: 0em 10em;
}

.flex {
  display: flex;
  flex: 1;
}

.image-sizing {
  margin-top: 1.5em;
  width: 80%;
  padding: 3em;
  height: 22em;
}

.button {
  text-transform: uppercase;
  padding: 1em 4em;
  text-align: center;
  border: 1px solid #003333;
  font-weight: 700;
  color: #003333;
  font-size: 0.6em;
  transition: all 1s;
  -webkit-transition: all 1s;
  margin-left: 16em;
  margin-right: 1em;
  font-family: 'Raleway', sans-serif;
}
