<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Raleway|Great+Vibes|Marck+Script|Tangerine|Economica" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <title>Garima's&nbsp &nbsp Boutique</title>
</head>
<body>
  <!-- Nav Bar html code -->
  <nav>
      <a id="add-dresses" href="#">Dresses</a>
      <a id="add-tops" href="#">Tops</a>
      <a id="add-outerwear" href="#">Outerwear</a>
    </nav>
  <header>
    <h1>Garima's Boutique</h1>
  </header>
  <main id="wrapper">
    <section id="dresses" class="flex">
      <div class="column-1" id="one">
      </div>

      <div class="column-2" id="two">
      </div>
    </section>

    <section id="tops" class="flex">
      <div class="column-1" id="three">
      </div>

      <div class="column-2" id="four">
      </div>
    </section>

    <!-- <section id="outerwear" class="flex">
      <div class="column-1" id="five">
        <img class="image-sizing"src="../assets/chic.jpeg" alt="Jacket with gold buttons">
        <button class="button">Add To Cart</button>
        <img class="image-sizing"src="../assets/patagonia.jpg" alt="Wilderness wear">
        <button class="button">Add To Cart</button>
        <img class="image-sizing"src="../assets/leatherjacket.jpeg" alt="Chic floral dress.">
        <button class="button">Add To Cart</button>
      </div>
 -->
      <!-- <div class="column-2" id="six">
        <img class="image-sizing"src="../assets/fur.jpg" alt="Prom dress">
        <button class="button">Add To Cart</button>
        <img class="image-sizing"src="../assets/velvet.jpg" alt="Black shift dress">
        <button class="button">Add To Cart</button>
        <img class="image-sizing"src="../assets/burberry.jpeg" alt="Yellow dress">
        <button class="button">Add To Cart</button>
      </div>
    </section> -->

  </main>
  <script src="../js/main.js" type="text/javascript"></script>
</body>
</html>